$primary: red;
$secondary: blue;
$selected: green;
$success: green;
$warning: red;
$active: yellow;
$disabled: grey;

// theme
$color1: grey;
$color2: blue;
$color3: purple;
$color4: brown;

// basic
$white: white;
$black: black;
$greyLight: lightgrey;
$greyDark: darkgrey;
$greyMid: grey;
